*{
    body
}
.script {
    font-family: 'Petit Formal Script', cursive;
  } */
.loader{
    position: fixed;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: centerc;
}
.disappear{
    animation: vanish 1s forwards;
}
.card-img {
    height: 400px;
    width: 100%;
    margin: 0;
    float: right;
    object-fit: cover;
  }

  .picture
  {
    position: relative;
    top: 0;
    left: 0;
  }
  .frame
  {
    position: relative;
  
   
  }
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
#save-button{
    position:relative;
}
.extra-large{
    height:600px
}