h2, h3 {
    color: darkred;
    font-family: 'Petit Formal Script', cursive;
  }
.loader{
    position: fixed;
    background: lightgrey;

    display: flex;
    justify-content: center;
    align-items: centerc;
}
.disappear{
    animation: vanish 1s forwards;
}
.card-img {
    height: 400px;
    width: 100%;
    margin: 0;
    float: right;
    object-fit: cover;
  }
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}